.slideshow-type-1 {
  position: relative;

  .slick-dotted {
    margin: 0;
  }

  // Improve loading behavior.g
  .js .slideshow__slides:not(.slick-initialized) {
    .slide:not(:first-child) {
      display: none;
    }
  }

  .l-slide {
    padding-bottom: 75px;

    @media (min-width: $screen-sm-max) {
      display: flex;
      flex-direction: row;
      border: 0;
      padding-bottom: 0;
    }

    .l-slide-media {
      @media (min-width: $screen-sm-max) {
        width: 65%;
        padding-top: 36.5%; // Keep ratio.
        height: 0;

        .media--view-mode-slider_main_16_9 {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
        }
        .no-image {
          height: calc(65vw / 16 * 9);
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
      @media (min-width: $screen-lg) {
        width: 75%;
        padding-top: 42%; // Keep ratio.
        .no-image {
          height: calc(1280px / 16 * 9 * .75 );
        }
      }
    }
  }

  .l-slide-text {
    position: relative;
    padding: 22px 25px 0;
    justify-content: center;
    .slide__text__sub {
      padding: 20px;
    }

    // A single slide is not "slick-initialized"
    // -> no space for the .l-slick-navi required.
    // This approach respects a sidbar if there is one.
    @media (min-width: $screen-sm-max) {
      height: 0;
      overflow-x: auto;
      width: 35%;
      padding-top: 35%;

      .slide__text__sub {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
      }
    }
    @media (min-width: $screen-lg) {
      width: 25%;
      padding-top: 42%;
    }
  }

  .slick-initialized .l-slide-text {
    // Keep space for .l-slick-navi.
    @media (min-width: $screen-sm-max) {
      padding-top: 29%;
    }
    @media (min-width: $screen-lg) {
      padding-top: 35%;
    }
  }

  .l-slick-navi {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    @media (min-width: $screen-sm-max) {
      max-width: 35%;
      left: auto;
    }
    @media (min-width: $screen-lg) {
      max-width: 25%;
    }
  }

  .page-has-sidebar & {
    // Narrow down slick-navi.
    .slick-controls {
      .slick__pause,
      .slick__play {
        padding-left: 5px;
        padding-right: 5px;
        &::before {
          font-size: 15px;
        }
      }
    }
    .slick-arrow {
      &::before {
        font-size: 60px;
      }
    }
  }
}

// Space for "Copyright below Slider".
.paragraph-slideshow-wrapper--type_1 {
  &.has-copyright {
    padding-bottom: 2 * $padding-inner-box;
  }
}
