.faq-paragraph {

  .faq-question {
    font-weight: bold;
    padding-bottom: .5em;
  }

  .faq-question:after {
    content: '▿';
    display: inline-block;
    transition: .25s ease-in-out;
  }

  &.is-openend .faq-question:after {
    transform: rotate(180deg);
  }
}
